@import "tailwindcss";


:root {
  --background: #F0F4F9;
  --foreground: #1A1D1F;
  --primary: #2563EB;
  --surface: #FFFFFF;
  --border: #E6E8EC;
  --text-muted: #6F767E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-border: var(--border);
  --color-text-muted: var(--text-muted);
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}